body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div.container {
    margin-top: 100px;
    margin-left: 200px;
    border: 2px solid red;
    padding: 0px;
    height: 220px;
    width: 550px;
    border-top: 5px dotted #FFFF00;
    border-right: 10px solid #008000;
    border-bottom: 7px double #4646FF;
    border-left: 5px dashed #FF0000;
    box-shadow: 15px 15px 10px #333333;
}
div.container2 {
    
    margin-left:auto;
    margin-right: auto;
    height: 90px;
    width: 500px;
    border-radius: 70px;
    padding: 0px;
    text-align: center;
    position: relative;
    border-spacing: 0px;
   
}

div.container2#blue {
    border: 8px solid blue;
    margin-left: auto;
    margin-right: auto;
   
}
div.container2#green {
   border: 6px solid green;
   margin: -6px;
  
}
div.container2#yellow {
    border: 4px solid yellow;
    margin: -4px;
}
div.container2#red {
    border: 2px solid red;
    margin: -2px;
}



h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-style:normal;
    text-align: center;
    text-shadow: 10px 10px 10px #B6B4B4
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-style:normal;
    text-align: center;
    text-shadow: 10px 10px 10px #B6B4B4
}
div.button{
    padding: 2px;
    height: 17px;
    width: auto;
    float: left;
    background-color: #d8921a;
    vertical-align: central;
    border-top: 2px solid #ffa500;
    border-left: 2px solid #ffa500;
    border-bottom: 2px solid #AD7206;
    border-right: 2px solid #AD7206;
}
div.button#left {
    margin-left: 17%;
}
div.button#right {
    float:right;
    margin-right: 17%;
}
div.circle1 {
    background: rgba(104,104,104,0.5);
    border: 5px dashed white;
    border-spacing: 5px;
    border-radius: 30px;
    float: left;
    position: relative;
    margin-left: 620px;
    margin-top: -100px;
    height: 20px;
    width: 20px;
}
div.circle2 {
    background: rgba(104,104,104,0.5);
    
    border: 5px dashed white;
    border-spacing: 5px;
    border-radius: 30px;
    float: left;
    position: relative;
    margin-left: 670px;
    margin-top: -140px;
    height: 40px;
    width: 40px;
}
div.circle3 {
    padding: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    vertical-align:central;

    background: rgba(104,104,104,0.5);
    
    border: 5px dashed white;
    border-spacing: 10px 10px;
    border-collapse: collapse;

    border-radius: 50px;
    float: left;
    position: relative;
    margin-left: 730px;
    margin-top: -200px;
    height: 60px;
    width: 100px;


}