body {
    font-family: Tahoma, sans-serif;
}

header {
    width: 920px;
    background-color: #eeeeee;
    color: #818181;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    padding: 0;
    border-bottom: 1px solid #cad1d1;
    
}
header .logo {
    width: 100px;
    height: 60px;
    background: url(imgs/logo.png);
    background-repeat: no-repeat;
    float:left;
    display: inline-block;
    margin-left: 25px;
    margin-top: -10px;
     
}
nav ul.menu {
    float: left;
    list-style:none;
    display: table-cell;
    vertical-align: middle;
    
}
nav ul.menu li {
    padding: 15px 10px;
    border-radius: 5px;
    display: inline;
    margin-left: 35px;
    margin-right: 35px;
}
nav ul.menu li:nth-child(1) a {
    color: #f99600;
}
nav ul.menu li:hover {
    background-color: #cad1d1;
    color: #555555;
}
nav ul.menu li:hover a{
    color: #555555;
}

nav a.menu {
    text-decoration:none;
    text-transform:capitalize;
    font-weight: bold;
    color:#818181;
}

main {
    width: 840px;
    background-color:#ffffff;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
main h1 {
    font-weight: normal;
    color:#3e3e3e;
}
main section {
    width: 50%;
    float: left;
}
main p {
    color:#3e3e3e;
    padding-right: 25px;
    padding-bottom: 15px;
}

footer {
    width: 920px;
    background-color: #eeeeee;
    color: #818181;
    height: 90px;
    padding: 0;
    border-top: 1px solid #cad1d1;
    display: table-cell;
    vertical-align: middle;

}
p.footer{
    font-size: 0.9em;
    margin-left: 25px;
    display: inline;
}
footer div.icons {
    margin-right: 40px;
    display: inline-block;
    float: right;
}

footer div.icon {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    float: left;
}
footer div.icon#facebook {
    background: url(imgs/icons/facebook.png);
}
footer div.icon#google {
    background: url(imgs/icons/google.png);
}
footer div.icon#twitter {
    background: url(imgs/icons/tw.png);
}
footer div.icon#t {
    background: url(imgs/icons/t.png);
}
footer div.icon#facebook:hover {
    background: url(imgs/icons/facebook_active.png);
}
footer div.icon#google:hover {
    background: url(imgs/icons/google_active.png);
}
footer div.icon#twitter:hover {
    background: url(imgs/icons/tw_active.png);
}
footer div.icon#t:hover {
    background: url(imgs/icons/t_active.png);
}